body {
  font-family: Helvetica;
}

.flat-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.map {
  margin: 30px 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
  top: 30px;
}

@import "card";
